apiVersion: v1
kind: Secret
metadata:
  name: mariadb-ha-secret
  namespace: mariadb
type: Opaque
stringData:
  # Change ALL values before applying.
  mariadb-root-password: "CHANGE_ME_ROOT_PASSWORD"
  mariadb-password: "CHANGE_ME_APP_PASSWORD"
  mariadb-replication-password: "CHANGE_ME_REPL_PASSWORD"
  mariadb-galera-mariabackup-password: "CHANGE_ME_MARIABACKUP_PASSWORD"
